.gradient-background {
  background: linear-gradient(300deg, #67a3b7, #5e9ac0, #12394a);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

body {
  width: 70%;
  margin: auto;
  padding: 0px;
  background-color: #FFFDF0;
}

.navbar {
  background-color: #ECF9FF;
  padding-top: 0.1rem;
}

.navbar__nav{ /* Main Nav UL */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap:10px
}

.navbar__nav li{
  list-style-type: none;
  margin-right: 0.5rem;
  position: relative;
  align-items: center;
}

.navbar__nav li a {
  text-decoration: none;
  color: black;
}


.navbar__nav li a:hover{
  color: red;
}

.navbar__dropdown{ /* Dropdown Nav UL */
  display: none;
  padding: 0.5rem 0 0 0.5rem;
  width: 150px;
  position: absolute;
  background-color: rgb(235, 236, 232);

}

.navbar__dropdown-item li{
  padding: 0.5rem 0;
}

.navbar__dropdown-item:hover .navbar__dropdown{
  display: block;
}

.navbar__dropdown-item:hover .navbar__dropdown li:hover {
  background-color: #ECF9FF;
}

.navbar__dropdown-item:hover .dropdown-arrow{
  animation-name: fadeOut;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.navbar__button{
  margin-bottom: 0.5rem;
}

@keyframes fadeOut {
    0% {
        opacity: 1; /* Start fully visible */
    }
    100% {
        opacity: 0; /* End completely transparent */
    }
}

.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.intro-content {
   margin-top: -10px;
   font-family: "Helvetica Neue", Arial, sans-serif;
}

.profile-image {
    width: 150px; /* Set desired image width */
    height: auto;
    border-radius: 50%; /* Optional: for a round profile picture */
}




.title-intro{
  font-family: serif
}


.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.about-title{
  text-align: center;
  justify-content: center;
  align-items: center;
} 

.about-text {
  display: flex;
  text-align:left;
  padding-left: 50px;
  padding-right: 20px; 
  justify-content: space-around;
  font-family: "Helvetica Neue", Arial, sans-serif;
 }

.about-image {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}


.profile-image{
  padding: 10px;
  border-radius: 45%;
}


.work-exp-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.work-exp-item {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-template-rows: repeat(3, 1fr);
  
}

.work-exp-item img {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  height: 200px;
  width: 300px;
  margin-left: 50px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.work-exp-item p {
  display: flex;
  margin: 0px;
  justify-content: flex-start;
  grid-column: 3 / 4;
}

.work-exp-item button {
  align-self: start;
  max-width: fit-content;
  grid-column: 3 / 4;
}

.moreDetail{
  text-decoration: none;
  color: black;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.contact-button{
  background-color: rgba(201, 206, 243, 0.829);
  border-radius: 5px;

}

.contact-button a{
  text-decoration: none;
  color: black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-container a {
  text-decoration: none;
  color: black;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@media (max-width: 600px) {
  .work-exp-item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  .work-exp-item img {
    width: 80%;
    height: auto;
    margin: 0px;
  }

  .work-exp-item button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work-exp-item p {
    justify-content: flex-start;
    width: 300px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {

}
@media (min-width: 1201px) and (max-width: 1600px) {

}
